* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

.border{
    width: 400px;
    margin: 0 auto;
    height: 450px;
    box-shadow: 5px 5px 20px 0 rgba(1,1,1,0.5);
    position: relative;
}

.heading-reg{
    text-align: center;
    background-color: #CACAFF;
    padding: 8px 5px;
    font-family: 'Indie Flower', cursive;
    font-size: 24px;
    max-width: 100%;
    position: 0;
    
}

.heading-log{
    text-align: center;
    background-color: #CACAFF;
    padding: 8px 5px;
    font-family: 'Indie Flower', cursive;
    font-size: 24px;
    width: 100%;
}

.content{
    height: 90%;
    width: 100%;
    padding: 0px;
    display: none;
    position: relative;
}

.form{
    padding: 40px;
}

button{
    width: 50%;
    height: 10%;
    background-color: #CACAFF;
    padding: 5px 16px;
    border: 0;
    float: left;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 16px;
    border: #BBBBFF 1px solid;
}

input {
    width: 200px;
    margin: 3px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    padding: 12px 20px 12px 45px;
}

input.username {
    background-image: url('../Images/user-icon.svg');
    background-position: 8px 6px;
    background-size: 30px 30px;
    background-repeat: no-repeat;
}

input.password {
    background-image: url('../Images/pdw-icon.svg');
    background-position: 8px 6px;
    background-size: 30px 30px;
    background-repeat: no-repeat;
}

input.email {
    background-image: url('../Images/email-icon.svg');
    background-position: 8px 6px;
    background-size: 30px 30px;
    background-repeat: no-repeat;
}

input.submit{
    background-color: #FFDFEF;
    border: 0;
}

/* When the input field gets focus, change its width to 100% */
input:focus {
    width: 100%;
}

